!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src='jquery.min.js')
        script(src='async.min.js')
        script(src='underscore.js')
        
    body
        ol

:coffeescript
    $ ->
        feedUrl = 'http://www.faz-podcast.de/podcast.php'
        #feedUrl = 'http://redaktion.sz-audio.de/rss/rss-serie-podcastmagazin-mp3.xml'
        
        $.get feedUrl, null,
            (data, textStatus) ->
                window.data = data
                console.log data
                console.log $(data).find("itunes\\:image, image")
                
                feedImageUrl = $(data).find("image url").text()
                
                $(data).find('item').each ->
                    item = $(this)
                    url = item.find("enclosure").attr('url')
                    title = item.find("title").text()
                    pubDate = new Date(item.find("pubDate").text())
                    duration =item.find("itunes\\:duration, duration").text()

                    itemImageUrl = item.find("image url").text()
                    itemImageUrl = feedImageUrl
                    console.log itemImageUrl
                    
                    $("body ol").append(
                        $("<li>")
                            .append( $("<img>").attr("src", itemImageUrl) )
                            .append( $("<span>").html("#{pubDate.toISOString()} #{duration}") )
                            .append( $("<a>").attr("href", url).html(title) )
                    )
                        
            , 'xml'
