!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src='jquery.min.js')
        script(src='jquery.couch.js')
        script(src='async.min.js')
        script(src='underscore.js')
        script(src='jszip.js')
        script(src='mime.js')
        
        script(src='Grid.js')
        script(src='Scanner.js')
        script(src='NavigationController.js')
        script(src='DataSource.js')
        script(src='SplitDataSource.js')
        script(src='CellFactory.js')
        script(src='Settings.js')
        script(src='BlindKeyboardInput.js')
        script(src='ModalDialog.js')
        script(src='AudioPlayer.js')
        script(src='ImagePlayer.js')
        script(src='Storage.js')
        script(src='ZIPExporter.js')
        script(src='AccessibilityModeShabanaj.js')
        script(src='AccessibilityModePlain.js')
        script(src='AccessibilityModeNavCol.js')
        script(src='Talkshow.js')
        
    body
        #header
            div
                h2 Talkshow.js
            div
                input#editSwitch(type="checkbox")
                span edit mode
            div
                span#storageIdentifier
            div
                a#export Inhalte als Zip-Datei exportieren
                
        #settings.showInEditMode
            div
                ul#colors(style="display:none")
            div
                span Scanner Geschwindigkeit:
                input#scannerDelay.preference(value="2000")
                span Millisekunden pro Feld
            
        #navBar Home
        #grid
        #horiz.pointer ⬇
        #vert.pointer ➨
        #settings
            ul#colors.showInEditMode
        
        #dialogs
            .audioPlayer
                .dialog
                    .title Audio Player
                    audio(controls="controls")
                    .choice(type="pause") Pause (L)
                    .choice(type="back") Zurück (R)

            .imagePlayer
                .dialog
                    .title Foto
                    img
                    div
                        .choice(type="back") Zurück (R)

            .soundDropped
                .dialog(lang="de")
                    .title Ist diese Sounddatei als Navigationsansage für Sehbehinderte Benutzer gedacht, oder als Inhalt (Musik/Hörbuch)?
                    .choice(type="navigationSound") Navigationsansage
                    .choice(type="sound") Musik/Hörbuch
                    .choice Abbrechen

                // .dialog(lang="en")
                //     .title Is this sound file a navigation sound for visually impaired users or music/audio book?
                //     .choice(type="navigationSound") Navigation Sound
                //     .choice(type="sound") Music or Audio book
                //     .choice Cancel

            .imageDropped
                .dialog
                    .title Ist diese Bilddatei als Symbol, als Feldhintergrund  oder als Inhalt (Foto) gedacht?
                    .choice(type="icon") Symbol
                    .choice(type="background") Feldhintergrund
                    .choice(type="photo") Foto
                    .choice Abbrechen
                    
            .delete
                .navigationSound
                    .dialog
                        .title Soll diese Navigationsansage gelöscht werden?
                        .choice(type="delete") Löschen
                        .choice Abbrechen
                .sound
                    .dialog
                        .title Soll dieser Audioinhalt gelöscht werden?
                        .choice(type="delete") Löschen
                        .choice Abbrechen
                .icon
                    .dialog
                        .title Soll dieses Symbol entfernt werden?
                        .choice(type="delete") Löschen
                        .choice Abbrechen
                .background
                    .dialog
                        .title Soll dieser Feldhintergrund entfernt werden?
                        .choice(type="delete") Löschen
                        .choice Abbrechen
                .photo
                    .dialog
                        .title Soll dieses Foto gelöscht werden?
                        .choice(type="delete") Löschen
                        .choice Abbrechen
                        
:stylus
    #settings .preference
        margin: -2px 10px
        border-radius: 4px
        border: none
        width: 4em
        text-align: right

    .dialog
        position: absolute
        width:50%
        left: 25%
        top: 10%
        background-color: rgba(255,255,255,0.8)
        -webkit-box-shadow: 0px 0px 18px black
        font-size: 2.5em
        padding: 50px
        -webkit-border-radius: 25px
        line-height: 140%
        
        
    .dialog .title
        font-size: 1.2em
        weight: 1000
        margin-bottom: 2em
        
    .dialog .choice
        display: inline-block
        background-color: #555
        color: white
        -webkit-border-radius: 40px
        padding: 10px 30px
        margin: 20px
        
    .dialog .choice:hover
        background-color: blue
    
    .imagePlayer .dialog
        min-height: 70%
    
    .imagePlayer .dialog .title
        display: none
    
    .imagePlayer .button
        z-index: 10
        
    .imagePlayer img
        display: block
        margin-left: auto
        margin-right: auto
        z-index: 0
        top: 0px
        left: 0px
        max-height: 70%

    body
        background-color: #f4f4ed
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif 
        line-height: 160%
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
        color: #666
    
    #header
        background-color: #555
        margin: 0px 20px
        color: #aaa
        
    h2
        font-size: 40pt
        display: inline
        
    #header div
        display: inline-block
        margin: 5px 50px
        
    #header a
        border: 1px solid #aaa
        margin 2px 47px
        padding: 3px 3px
        border-radius: 18px
    
    body:not([class=editMode]) .showInEditMode
        display: none

    body:not([class=editMode]) td.showInEditMode
        display: table-cell
        opacity: 0.1
        
    body[class=editMode] td .label
        border: 1px dashed white
        min-height: 1em

    #grid
        margin: 50px 50px
        height:800px
        background-color: rgba(0,0,0,0.1)

    .pointer
        position: absolute
        font-size: 50pt
        display: none
        
    table
        width: 100%
        height: 100%
        table-layout: fixed
        border-spacing: 25px
        
    td
        vertical-align: middle
        border-collapse: collapse
        -webkit-border-radius: 32px
        border: 4px solid rgba(255,255,255,0.2)
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.3), inset -1px -4px 32px rgba(0,0,0,0.8), inset 1px 4px 16px white
        background-image: -webkit-linear-gradient(bottom, rgba(99,99,99,0.1) 54%, rgba(210,210,210,0.1) 55%, rgb(220,220,220,0.1) 85%);
        background-repeat: no-repeat
        padding 0 0
        text-align: center
        overflow: hidden
        position: relative
        height: 250px
     
     td .iconbar
        text-align: right
        position: absolute
        left: 0px
        top: 20px
        width: 100%

     td .iconbar img
        margin-right: 50px
     
     td .label
        display: block
        font-size:28pt
        font-weight: 800
        
     td img
        padding-top: 15px
        padding-bottom: 25px
     
     td.dragTarget
        border: 4px dotted white
     
    .current_horiz, .current_vert
       -webkit-box-shadow inset 0px 0px 20px 30px #ddd
     
    .current_horiz
       background-color: #99a !important

    .current_vert
        background-color: #9a9 !important

    .current_horiz.current_vert, .keyboardFocus
        background-color: white !important
        -webkit-box-shadow inset 0px 0px 20px 30px yellow

    #settings
        margin: 50px 50px
        color: black
        
    #colors
        list-style: none
        
    #colors li
        display: inline-block
        width: 32px
        height: 32px
        border: 1px solid #aaa
        margin-right: 4px

:coffeescript
    $ ->
    
        getQuery = ->
            result = {}
            queryString = location.search.substring(1)
            re = /([^&=]+)=([^&]*)/g

            while m = re.exec(queryString)
                result[decodeURIComponent(m[1])] = decodeURIComponent(m[2])

            return result
    
        $("#editSwitch").change ->
            if $(this).attr("checked")
                $("body").addClass("editMode")
            else
                $("body").removeClass("editMode")

        window.isEditMode = ->
            return $('.editMode').length isnt 0

        $("#export").click ->
            $("#export").hide()
            talkshow.export "zip", (err, link)->
                console.log "export callback triggered"
                $("#export").show()
                location.href = link
            
        $(".dialog").hide()
        
        query = getQuery()
        accessibilityMode = new AccessibilityModeNavCol()
        
        if query.mode is "shabanaj"
            accessibilityMode = new AccessibilityModeShabanaj()
        else if query.mode is "plain"
            accessibilityMode = new AccessibilityModePlain()
        
        talkshow = new Talkshow accessibilityMode, (err) ->
            if err
                $("body").html "Failed to initialize Talkshow: #{err}"
            else
                $('#storageIdentifier').html talkshow.storage.toString()
    
