!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src='jquery.min.js')
        script(src='underscore.js')
        script(src='grid.js')
        script(src='scanner.js')
        script(src='navigation.js')
        script(src='genericdatasource.js')
        script(src='CellFactory.js')
        script(src='Settings.js')
        script(src='KeyboardInput.js')
        
    body
        h1 Talkshow.js
        #grid
        #horiz.pointer ⬇
        #vert.pointer ➨
        #settings
            input#editSwitch(type="checkbox")
            span edit mode
            ul#colors.showInEditMode
        
:stylus
    body
        background-color: #f4f4ed
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif 
        line-height: 160%
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
        color: #666
    
    h1
        background-color: #555
        font-size: 40pt
        margin: 0px 20px
        color: #aaa
    
    #grid
        margin: 50px 50px
        height:800px
        background-color: rgba(0,0,0,0.1)

    .pointer
        position: absolute
        font-size: 50pt
        
    table
        width: 100%
        height: 100%
        table-layout: fixed
        border-spacing: 25px
        
    td
        vertical-align: middle
        border-collapse: collapse
        -webkit-border-radius: 32px
        border: 4px solid rgba(255,255,255,0.2)
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.3), inset -1px -4px 32px rgba(0,0,0,0.8), inset 1px 4px 16px white
        background-image: -webkit-linear-gradient(bottom, rgba(99,99,99,0.1) 54%, rgba(210,210,210,0.1) 55%, rgb(220,220,220,0.1) 85%);
        background-repeat: no-repeat
        padding 0 0
        text-align: center
        overflow: hidden
     
     td .label
        display: block
        font-size:28pt
        font-weight: 800
        
     td img
        padding-top: 15px
     
     td.dragTarget
        border: 4px dotted white
     
    .current_horiz, .current_vert
       -webkit-box-shadow inset 0px 0px 20px 30px #ddd
     
    .current_horiz
       background-color: #99a !important

    .current_vert
        background-color: #9a9 !important

    .current_horiz.current_vert, td:hover, .keyboardFocus
        background-color: white !important
        -webkit-box-shadow inset 0px 0px 20px 30px yellow

    #settings
        margin: 50px 50px
        color: black
        
    #colors
        list-style: none
        
    #colors li
        display: inline-block
        width: 32px
        height: 32px
        border: 1px solid #aaa
        margin-right: 4px

:coffeescript
        $ () ->
            window.uniqueId = (() ->
                currId = localStorage.getItem("currId")
                if not currId? then currId = 0
                return () ->
                    ret = currId
                    currId++
                    localStorage.setItem("currId", currId)
                    return ret
            )()
    
            grid = Grid 4, 2

            navigationController = NavigationController grid
            navigationDataSource = NavigationDataSource navigationController
    
            rootNodeId = localStorage.getItem "root"
            console.log "rootNodeId", rootNodeId
            
            myDataSource = GenericDataSource grid, 
                navigationDataSource, 
                navigationController, 
                null, 
                null, 
                rootNodeId

            navigationController.push myDataSource
            console.log grid.positions()

            delegate = 
                enterCell: (x,y) ->
                    navigationController.currentController().enterCell(x,y)

            scanner = Scanner(grid.positions(), delegate)
            keyboardInput = new KeyboardInput(delegate)
    