!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src='jquery-1.7.1-binary-ajax.js')
        script(src='jquery.base64.min.js')
        script(src='jszip.js')
        
    body

    :coffeescript
        $ ->
            zip = new JSZip()
            assets = zip.folder 'assets'
            url = 'http://images.apple.com/global/elements/flags/22x22/usa.png'
        
            oReq = new XMLHttpRequest()
            oReq.open "GET", url, true
            oReq.responseType = "arraybuffer"

            oReq.onload = (oEvent) ->
                arrayBuffer = oReq.response
                if arrayBuffer
                    s1 = ""
                    byteArray = new Uint8Array arrayBuffer
                    for i in [0...byteArray.byteLength]
                        if i<64
                            s1 += byteArray[i].toString(16) + " "
                    console.log s1
                    
                    console.log "received #{arrayBuffer.byteLength} bytes"
                    console.log typeof arrayBuffer
                
                #data = $.base64.encode data
                #data = s2
                
                #assets.file "test.png", data, {base64: false, binary: true}
                #                   
                #zipFileLink = "data:application/zip;base64," + zip.generate
                #     base64: true
                #     compression: 'STORE'
                #                   
                # $("body").append $("<a>").attr("href", zipFileLink).html('zip file')
            
            oReq.send(null)
        

    
