ui.breadcrumbs
    background-color: gray
    display: inline-block

    li:hover
        background-color: blue
    li
        border-left: 1px solid white
        display: inline-block

        a
            color: lightgray
            padding: 4px 10px

        a:before
            content: "> "
